@keyframes cardHiddenTextAnimation {
    from {
        height: 0px;
    }

    to {
        height: calc(100% - 120px);
    }
}

@keyframes cardShowImageAnimation {
    from {
        height: 0;
    }

    to {
        height: 90%;
    }
}

@keyframes cardHideImageAnimation {
    from {
        height: 90%;
    }

    to {
        height: 0;
    }
}

@media (min-width:800px) {
    @keyframes cardShowImageAnimation {
        from {
            height: 0;
        }

        to {
            height: 160px;
        }
    }

    @keyframes cardHideImageAnimation {
        from {
            height: 160px;
        }

        to {
            height: 0;
        }
    }
}