@use "../abstract/variables.scss" as variables;
@use "../abstract/animations/projectsAnimations.module.scss";

.project {
    display: flex;
    height: auto;
    width: 100vw;
    padding: 30px 0;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    &__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 400px;
        width: 80%;
        border-radius: 10px;
        border: 5px solid variables.$darkViolet;
        background-color: variables.$lightViolet;
        align-self: center;
        justify-content: center;

        &__image {
            height: 100%;
            width: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            animation: cardShowImageAnimation 0.3s forwards ease-out;
        }

        &__text {
            display: flex;
            padding: 10px;
            animation: TextAnimation 0.3s forwards ease-out;
        }

        &__hiddenText {
            display: none;
            width: 100%;
            place-content: center;
            place-items: center;
            text-align: center;
            background-color: variables.$lightViolet;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__card:hover &__card__hiddenText {
        display: flex;
        animation: cardHiddenTextAnimation 0.3s forwards ease-out;
    }

    &__card:hover &__card__image {
        animation: cardHideImageAnimation 0.3s forwards ease-out;
    }
}

@media (min-width:800px) {
    .project {
        height: 530px;
        margin-top: 100px;
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-rows: 200px 200px;
        grid-template-columns: 250px 250px;
        gap: 30px;

        &__card {
            height: 200px;
            width: 250px;
        }
    }
}

@media (min-width:1025px) {
    .project {
        height: 90vh;
    }
}